/*bleu foncé #404863*/
/*bleu clair #98a1c3*/
/*beige orangé #af7d3b*/
/*beige bois clair #8d694a */
/*beige clair #e6dac1*/
/*bois foncé acajou #703e25*/
/* vert foncé #555233 */


root { 
    display: block;
}

body {
    font-family: lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.selectBox {
    position: absolute;
    background-color: #9999ff;
    display: none;
    height: 30px;
    width: 100px;
    left: 1px;
    top: 1px;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.selection {
    background-color: #86b3df;
    color: #ffffff;
}

.selectHandle {
    width: 1px;
    height: 30px;
    border: #0066cc solid 1px;
    background-color: #0066cc;
}

.selectHandleCircle {
    position: relative;
    left: -4px;
    background: #0066cc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-color: #6aa0d6;
    border-width: 5px
}


.regloTitle {
    font-size: 36px;
    font-weight: bold;
    background-color: #404863;
    width: available;
    height: 50px;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    color: #ffffff;
}

.regloTitleEdition {
    font-size: 16px;
    position: relative;
    top: 16px;
    left: -90px;
}


input.landing {
    font-size: 16px;
}

.formLabel {
    font-size: 16px;
    text-align: left;
}

 .landingFrame {
    border: #555233 solid 1px;
    border-radius: 4px 4px 4px 4px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
    
    
}

.landingLoginFrame {
    border: #555233 solid 1px;
    background-color: #98a1c3;
    border-radius: 4px 4px 4px 4px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.fieldSeparator {
    margin-top: 5px;
}

input.loginButton {
    border-top: #af7d3b solid 2px;
    border-left: #af7d3b solid 2px;
    border-bottom: #825513 solid 2px;
    border-right: #825513 solid 2px;
    border-radius: 4px 4px 4px 4px;
    background-color: #ffd586;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    height: 24px;
}

input.loginButton:active {
    border-bottom: #af7d3b solid 2px;
    border-right: #af7d3b solid 2px;
    border-top: #825513 solid 2px;
    border-left: #825513 solid 2px;
    border-radius: 4px 4px 4px 4px;
    background-color: #ffd586;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    height: 24px;
}

.menuContainer {
    margin-left: auto;
    margin-right: auto;
}

.menuItemSmall {
    font-size: 12px;
    border: #555233 solid 1px;
    background-color: #ffffff;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.menuItemLarge {
    font-size: 24px;
    height: 50px;
    border: #555233 solid 1px;
    background-color: #ffffff;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.artBase {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.artHeaderHolder{
    
}

.artList{
    
}

.artListHandle{
    width: 20px;
     border: 2px #555233 solid;
    height: 20px;
    cursor: pointer;
}

.artListItem{
    margin: 5px;
    padding: 2px;
    border: 2px #555233 solid;
    background-color: #ffd586;
    position: relative;
}

.artListItemTitle{
    font-size: 24px;
    display: inline-block;
}

.artListItemAuthor{
    font-size: 14px;
    display: inline-block;
    float: right; 
    vertical-align: top;
}

.artListItemDate{
    font-size: 10px
}

.artListItemArr{
    width: 20px; 
    height: 100%; 
    border: #000 solid 2px; 
    position: absolute; 
    top: -2px; 
    left: 586px;
    cursor: pointer;
}

.artContainer{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.artSuperHeader{
    font-size: 10px;
    border: #D0D0D0 solid 1px;
    background-color: #e6dac1;
    width: content-box;
    padding: 2px;
}
.artHeader {
    border: #af7d3b solid 2px;
}

.artTitle {
    font-size: 24px;
    display: inline-block;
    padding: 3px;
}

.artAuthor{
    font-size: 14px;
    display: inline-block;
    float: right; 
    vertical-align: top;
    padding: 3px;
}

.artDate {
    font-size: 12px;
    padding: 3px;
}

.artContent {
    font-size: 16px;
    border: #404863 solid 1px;
    padding: 2px;
}

.artDomain {
    display: inline-block;
    background-color: #ffffff;
    padding: 2px;
}

.artMenuMain {
    display: inline-block;
    float: right;
}

.artMenuItem{
    display: inline-block;
    padding: 2px;
}

.artMenuComments {
    background-color: #e13300;
}

.artMenuReviews {
    background-color: #005702;
}

.artCommentHolders{
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    border: #9999ff solid 1px;
    display: none;
}

.artCommentorFrame {
    position: relative;
    width: 200px;
    height: 100px;
    border: 1px #e13300 solid;
    background-color:  #ed967d;

}

.artCommentorTitle {
    background-color: #f0bfb1;
    font: 10px arial;
}

.artCommentorX {
    font: 10px arial;
    width: 180px;
    height: auto;
}

.artCommentListItem{
    border: #af7d3b solid 2px;
    margin-bottom: 4px;
}

.artCommentListItemHeader{
    background-color: #ffd586;
    border-bottom: #af7d3b solid 1px;
}

.artCommentListItemDate {
    font-size: 9px;
    vertical-align: top;
    padding: 2px;
    display: inline-block;
}

.artCommentListItemAuthor{
    font-size: 10px;
    float: right;
    padding: 2px;
    vertical-align: top;
    display: inline-block;
}