/*bleu foncé #404863*/
/*bleu clair #98a1c3*/
/*beige orangé #af7d3b*/
/*beige bois clair #8d694a */
/*beige clair #e6dac1*/
/*bois foncé acajou #703e25*/
/* vert foncé #555233 */
/* gris background #dadada */
/* gris ligne separant background #e8e8e8 */
/* orange clair #f2951b */


root { 
    display: block;
}

body {
    font-family: helvetica,arial,tahoma,sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.selectBox {
    position: absolute;
    background-color: #9999ff;
    display: none;
    height: 30px;
    width: 100px;
    left: 1px;
    top: 1px;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.selection {
    background-color: #86b3df;
    color: #ffffff;
}

.selectHandle {
    width: 1px;
    height: 30px;
    border: #0066cc solid 1px;
    background-color: #0066cc;
}

.selectHandleCircle {
    position: relative;
    left: -4px;
    background: #0066cc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-color: #6aa0d6;
    border-width: 5px
}

.regloHeader{
    background-color: #404863;
    width: available;
    height: 55px;
}

.regloTitle {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 10px;
    display: inline-block;
    background-image: url("../images/reglologo.png");
    background-repeat: no-repeat;
    background-position: -3px -5px;
    width: 150px;
    height: 55px;
    
}

.regloMenuBar{
    background-color: #DADADA;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #C0C0C0;
    width: 100%;
}

.regloMenu{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.regloMenuItem{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-left: #e8e8e8 solid 1px;
    border-right: #C0C0C0 solid 1px;
    margin: 0px;
    clear: none;
    float: left;
}

.regloTitleEdition {
    font-size: 16px;
    position: relative;
    top: 16px;
    left: -90px;
}


input.landing {
    font-size: 16px;
    border: #98a1c3 solid 1px;
    background-color: #dadada;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    height: 24px;
}

.formLabel {
    font-size: 14px;
    text-align: left;
    border-left: #98a1c3 solid 1px;
    border-top: #98a1c3 solid 1px;
    border-bottom: #98a1c3 solid 1px;
    border-right: #e8e8e8 solid 1px;
    border-radius: 0px 0px 0px 0px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    background-color: #f2951b;
    height: 20px;
    display: inline-block;
}

.fieldAndLabel {
    height: 28px;
    display: inline-block;
    padding-right: 10px;
}

 .landingFrame {
    border: #555233 solid 1px;
    border-radius: 4px 4px 4px 4px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
    
    
}

.landingLoginFrame {
    border: #555233 solid 1px;
    background-color: #ffffff;
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 5px 5px; 
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.fieldSeparator {
    margin-top: 5px;
}

input.loginButton {
    border: #000000 solid 0px;
    background-color: #f2951b;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    height: 24px;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 4px;
    margin-top: 10px;
}

input.loginButton:active {
    border: #af7d3b solid 1px;
    background-color: #ffd586;
}

.menuContainer {
    margin-left: auto;
    margin-right: auto;
}

.menuItemSmall {
    font-size: 12px;
    border: #555233 solid 1px;
    background-color: #ffffff;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.menuItemLarge {
    font-size: 24px;
    height: 50px;
    border: #555233 solid 1px;
    background-color: #ffffff;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.artBase {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.artHeaderHolder{
    
}

.artList{
    
}

.artListHandle{
    width: 20px;
    border: 2px #555233 solid;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

.artEditHandle{
    width: 20px;
    border: 2px #555233 solid;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

.artListItem{
    font-family: tahoma;
    margin: 0px;
    padding: 2px;
    border-top: 1px #c0c0c0 solid;
    border-left: 1px #c0c0c0 solid;
    border-bottom: 1px #f4f4f4 solid;
    border-right: 1px #f4f4f4 solid;
    background-color: #e8e8e8;
    position: relative;
}

.artListItemTitle{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px 5px 2px;
}

.artListItemAuthor{
    font-size: 10px;
    padding: 2px 0px 2px 2px;
}

b.artListItemAuthor{ 
    color: #999999;
}

.artListItemDate{
    font-size: 10px;
    padding: 2px 0px 2px 2px;
}

b.artListItemDate{
    color: #999999;
}

.artListItemArr{
    width: 20px; 
    height: 100%; 
    border-top: 1px #c0c0c0 solid;
    border-left: 1px #c0c0c0 solid;
    border-bottom: 1px #f4f4f4 solid;
    border-right: 1px #f4f4f4 solid;
    background-color: #f2951b;
    position: absolute; 
    top: -1px; 
    left: 586px;
    cursor: pointer;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 3px;
}

.artContainer{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.artSuperHeader{
    font-size: 10px;
    border: #D0D0D0 solid 1px;
    background-color: #e6dac1;
    width: content-box;
    padding: 2px;
}
.artHeader {
    border: #af7d3b solid 2px;
}

.artTitle {
    font-size: 24px;
    display: inline-block;
    padding: 3px;
}

.artAuthor{
    font-size: 14px;
    display: inline-block;
    float: right; 
    vertical-align: top;
    padding: 3px;
}

.artDate {
    font-size: 12px;
    padding: 3px;
}

.artContent {
    font-size: 16px;
    border: #404863 solid 1px;
    padding: 2px;
}

.artDomain {
    display: inline-block;
    background-color: #ffffff;
    padding: 2px;
}

.artMenuMain {
    display: inline-block;
    float: right;
}

.artMenuItem{
    display: inline-block;
    padding: 2px;
}

.artMenuComments {
    background-color: #e13300;
}

.artMenuReviews {
    background-color: #005702;
}

.artCommentHolders{
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    border: #9999ff solid 1px;
    display: none;
}

.artCommentorFrame {
    position: relative;
    width: 200px;
    height: 100px;
    border: 1px #e13300 solid;
    background-color:  #ed967d;

}

.artCommentorTitle {
    background-color: #f0bfb1;
    font: 10px arial;
}

.artCommentorX {
    font: 10px arial;
    width: 180px;
    height: auto;
}

.artCommentListItem{
    border: #af7d3b solid 2px;
    margin-bottom: 4px;
}

.artCommentListItemHeader{
    background-color: #ffd586;
    border-bottom: #af7d3b solid 1px;
}

.artCommentListItemDate {
    font-size: 9px;
    vertical-align: top;
    padding: 2px;
    display: inline-block;
}

.artCommentListItemAuthor{
    font-size: 10px;
    float: right;
    padding: 2px;
    vertical-align: top;
    display: inline-block;
}

.artEditContent {
    padding: 10px;
    background-color: #ffffff;
}

.artEditFrame {
    padding: 5px;
    background-color: #d0d0d0;
    width: auto;
    height: 400px;
}

.artEditTitle {
    background-color: #ffffff;
    padding: 10px;
}

textarea.taArticle {
    font-size: 12px;
    width: 550px;
    height: 300px;
}

input.article {
    font-size: 14px;
    width: 550px;
}